
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color:whitesmoke;
    color: whitesmoke;
}


nav {
    background-color: #333;
    text-align: center;
    position: relative;
}

nav label {
    display: none;
    padding: 15px;
    background-color: #333;
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
}

nav input {
    display: none;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    background-color: #333;
}

nav ul li {
    position: relative;
}

nav ul li a {
    display: inline-block;
    color: whitesmoke;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 16px;
}

nav ul li:hover {
    background-color: #444;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    list-style: none;
    padding: 0;
    z-index: 1000;
    min-width: 200px;
}

nav ul ul li {
    border-bottom: 1px solid #555;
}

nav ul ul li a {
    display: block;
    padding: 10px;
    color: lightgray;
    text-decoration: none;
}

nav ul ul li:hover {
    background-color: #555;
}


nav ul li:hover ul {
    display: block;
}

@media (max-width: 680px) {
    nav label {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
    }

    nav input:checked + label + ul {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: left;
    }

    nav ul li a {
        display: block;
        padding: 15px;
        border-bottom: 1px solid #444;
    }

    nav ul ul {
        position: static;
        display: none;
        width: 100%;
    }

    nav ul li:hover ul {
        display: block;
    }

    nav ul ul li a {
        width: 100%;
        padding: 10px 20px;
    }
}
