/* HAURET Lucien */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
   
}

.carte {
    background-color: #fff;
    border: 2px solid #007bff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
}

h1 {
    font-size: 24px;
    color: #007bff;
}

h2 {
    font-size: 18px;
    color: #333;
}

p {
    font-size: 14px;
    color: #555;
}

.reseaux {
    margin-top: 15px;
}

.reseaux a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;

}

.reseaux a:hover {
    color: #0056b3;
}
