/* HAURET Lucien */
body {
    background-color: #ff4040; /* Couleur de fond rouge pour le corps */
    font-family: Arial, sans-serif; /* Police de caractères */
}

/* Style du formulaire */
form {
    background-color: white; /* Fond blanc pour le formulaire */
    padding: 20px; /* Espacement interne */
    border-radius: 15px; /* Coins arrondis du formulaire */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère pour le formulaire */
    max-width: 600px; /* Largeur maximale du formulaire */
    margin: auto; /* Centre  */
}

/* Style des infos */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="date"],
input[type="range"],
input[type="tel"],
input[type="search"],
input[type="url"],
input[type="number"],
textarea,
select {
    width: 100%; 
    padding: 10px; /* Espacement  */
    border: 1px solid #ccc; /* Bordure */
    border-radius: 10px; /* Coins arrondis des champs */
   
}

/* Style des boutons radio et cases à cocher */
input[type="checkbox"],
input[type="radio"] {
    margin-right: 10px; /* Espacement à droite */
}

/* Style du bouton d'envoi */
input[type="submit"] {
    background-color: #3498db; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte */
    border: none; 
    padding: 12px 20px; /* Espacement  */
    border-radius: 10px; /* Coins arrondis du bouton */
    cursor: pointer; /* Souris clique au survol */
    
}

/* etiquettes en gras */
label {
    font-weight: bold; 
    color: #333; 
}
