

.block7 {


    font-size: x-large;
    border: 2px solid  black;
    border-radius: 30px;
    background-color: cornflowerblue;
    height: fit-content;
    width: 500px;
    margin: 10px;
    text-align: center;
   margin-left: 700px;
    float:initial
    



}

.block8 {
float: left;
    font-size: xx-large;
    border-radius: 30px;
    border: 2px solid  black;
    background-color: cornflowerblue;
    height: fit-content;
    margin-top: 25px;
    text-align: center;
   width: 100px;
   



}

.block5 {
    
 margin-top: 10;
    background-color: rgb(100, 101, 187);
    height: 925px;
    width: 1900;
    margin: 10px;
    margin-right: 10px;
        margin-bottom: 200;
    
    

   
    }
    
   


.block0 {
    border-radius: 30px;
    border: 2px solid  black;
    background-color: cornflowerblue;
    height: fit-content;
    width: 500px;
    margin: 10px;
    text-align: center;
   margin-left: 700px;
    float:initial
    
    
    
   
    }
    
    body {
        background-color: rgb(55, 59, 59);
        
    
    }

.block1  {
    
    font-style: italic;
    font-size: large;
    border: 2px solid  black;
    border-radius: 30px;

    margin-top: 50px;
    background-color: skyblue;
    float: left;
    height: 380px;
    width: 460px;
    margin-left:  240px;
    text-align: center;
    }
    
   
    
    .block2 {
        font-style: italic;
        font-size: large;
        border: 2px solid  black;
        border-radius: 30px;
        margin-top: 50px;
    margin-left: 20px;
    height: 380px;
    width: 460px;
    text-align: center;
    background-color: green;
    float: left;
    
    }
    
    .block3 {
        font-style: italic;
    font-size: large;
    border: 2px solid  black;
        border-radius: 30px;
        margin-top: 50px;
    margin-left: 20px;
    height: 380px;
    width: 460px;
    text-align: center;
    background-color: rgb(184, 5, 5);
    float: left;
    
    }

    .block6 {
font-size: medium;
border: 2px solid  black;
        border-radius: 30px;
        margin-top: 60px;
   
    height: fit-content;
    width: 1800px;
    text-align: center;
    background-color: rgb(178, 205, 236);
    float: left;
    


    }

.block9{

    font-style: italic;
    font-size: large;
    border: 2px solid  black;
    border-radius: 30px;
margin-left: 30px;
    margin-top: 20px;
    background-color: rgb(148, 187, 202);
    float: left;
    
    width: 400px;

    text-align: center;


}

.block10 {


    font-style: italic;
    font-size: large;
    border: 2px solid  black;
    border-radius: 30px;
margin-left: 30px;
    margin-top: 20px;
    background-color: rgb(25, 236, 138);
    float: left;
    
    width: 400px;

    text-align: center; 


}

.block11 {


    font-style: italic;
    font-size: large;
    border: 2px solid  black;
    border-radius: 30px;
margin-left: 30px;
    margin-top: 20px;
    background-color: rgb(223, 51, 51);
    float: left;
    
    width: 400px;

    text-align: center; 


}